*{
    /* reseta todas as configs */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
 
    color: red ;
    min-height: 100vh;
    padding: 50px 20px;
}

button, input{
    font: inherit;
}

button{
    cursor: pointer;
}


/* --------------------------------- */


.container{
    max-width: 650px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    font-size: 30px;
    margin-bottom: 8px;
   
}

.header p{
    color: #68738a;
}

.header-icon{
    color: blue;
    font-size: 67px;
    background-color: #e0e7ff;
    padding: 15px;
    border-radius: 15%;
}
/* ------------------ */
.form-tarefa{
    display: flex;
    padding: 10px;
    background-color: whitesmoke;
    gap: 10px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.form-tarefa input{
    flex: 1;
    border :  none ;
    outline: none;
    padding: 12px;
}

.form-tarefa button{
        display: flex;
        align-items: center;
        font-size: large;
        color: #24A3A3;
        outline: none;
        border: none;
        padding: 12px 18px;
        background-color: #1F0062;
}
.form-tarefa button:hover{
    background-color: #1C1B70;
    padding: 12px;
    transition: .2s;
}
/* ------------------------------ */
.filtros{
    display:flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filtro{
    padding: 10px 16px;
    background-color: purple;
    border-radius: 20px;
    color: white;
    border: none;
}
.filtro:hover{
    background-color: #1F0062;
    border: none;
    outline: none;
}
.filtro.ativo{
    background-color: #e8e7ff;
    color: #4338ca;
    font-weight: bold;
}

.lista-tarefas{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}
.tarefa{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: #ffffff;
    padding: 18px;
    border-radius: 12px;
    align-items: center;

}
.tarefa-texto{
    flex:1;
    overflow-wrap: anywhere;
}
.tarefa-concluida .tarefa-texto{
    text-decoration: line-through;
    color: #94a3b8;
}
.botao-check, .botao-excluir{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #94a3b8;
    border: none;
    background-color: transparent;
    
}

.botao-excluir:hover{
    color: red;

}
.tarefa-concluida .botao-check{
    color: blue;
}
